<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white" >Table Teams</h1>
        </div>
      </div>
    </div>
  </div>

  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="widget-next-match">
              <table class="table custom-table">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Team name</th>
                    <th>Team Date</th>
                    <th>Score Des</th>
                    <th>Action</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of teams"   appColor>
                    <td>{{t.id}}</td>
                    <td><strong class="text-white">{{t.name}}</strong></td>
                    <td><strong class="text-white">{{t.date}}</strong></td>
                    <td><strong class="text-white">{{t.description}}</strong></td>
                    <td>

                        <button (click)="deleteTeams(t.id)" class="btn btn-danger">Delete</button>
                        <button (click)="navigateTo(t.id)" class="btn btn-info">Edit</button>
                    </td>
              
                  </tr>
             
               
                </tbody>
              </table>
            </div>
          </div>
   
      </div>
    </div>
  </div>
